* {
  text-align: center;
  color: #76323F;
}

body {
  background-color: #e9e9e9;
}

html, body {width: auto!important; overflow-x: hidden!important} 

.my-info {
  width:30%;
  padding:2%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
  background-color: #D7CEC7;
  border-radius: 5%;
}

.my-info img {
  width: 50%;
}

.container {
  display: flex;
  justify-content: center;
  margin-top:1%;
}

@media screen and (max-width:1024px){
  .my-info img {
    width: 80%;
  }
}
@media screen and (max-width:1024px){
  .my-info {
    width: 45%;
  }
}
@media screen and (max-width:540px){
  .my-info {
    width: 55%;
    margin-bottom: 10%;
  }
}
@media screen and (max-width:414px){
  .my-info {
    width: 64%;
    margin-bottom: 10%;
  }
}